.nnn8{
    background-color:#ffcdd2 ;
    display: flex;
    justify-content: center;
    
}
.nnnn8{
    background-color:#ffcdd2 ;
    margin-top: 70px;
}
.b1118{
    display: flex;
    justify-content: end;
    margin-right: 70px;
    margin-top: -75px;
}
.hooo8{
    padding: 100px;
}
.Buuu8{
   text-align: center;
}
.ca28{
    background-color:#ffcdd2 ; 
    display: flex;
}